body {
margin: 0 !important;
}

.container {
    max-width: 1200px;
    min-height: 100vh;
    margin: auto;
    display: flex;
    justify-content: space-between;
    background-color: #ccc;
}

.content {
    background-color: #ccc;
}

.card-filter {
    background-color: white;
    height: 600px;
    width: 200px;
    margin: 12px;
    padding: 12px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border: 1px solid #ccc;    
}

.content-container {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 300px 300px;
    gap: 16px;
    padding: 12px;
}

.card {
    background-color: white;
    padding: 12px;
    border-radius: 12px;
    gap: 16px;
    border: 1px solid #ccc;
}

.bottom_container {
    display: flex;
    justify-content: space-between;
}